@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Start Date: @Html.DisplayFor(model => model.StartDate)</h3>
<h3>Location: @Html.DisplayFor(model => model.Location.LocationName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>@Html.DisplayFor(model => model.Name) is not licensed to repair any machines</p>
}
else
{
  <p id="engineer-details-filter">@Html.ActionLink("See only machines this engineer has a valid license for", "CompletedDetails", new { id = Model.EngineerId })</p>
  <h4>Machines:</h4>
  <ul id="engineer-details-li">
    @foreach (var join in Model.JoinEntities)
    {
      <li class="engineer-details-li">
        @join.Machine.Model
        @if (join.Complete)
        {
          <p id="completed">License Current</p>
        }
        else
        {
          <p id="incomplete">License needs to be renewed</p>
        }
        @using (Html.BeginForm("DeleteMachine", "Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete" />
        }
        @using (Html.BeginForm("SwitchCompleted", "Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Toggle License Validation">
        }
      </li>
    }
  </ul>
}

<p class="bottom-link">@Html.ActionLink("Add machine", "AddMachine", new { id = Model.EngineerId })</p>
<p class="bottom-link">@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p class="bottom-link">@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>